<!doctype html>
<html ng-app="scoreList">
<head>
<title>server front end</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script src="index.js"></script>

</head>
<body>	
	<div ng-controller="scoreListController as scoreList">
		<button ng-click="scoreList.loadPlayer()">Load player</button>
		<form>
		<input id="playerName" type="text"></input>
		</form>
		<button ng-click="scoreList.addScore()">Add score</button>
		<form>
		<input id="newScore" type="text"></input>
		</form>
	
		<p>Scores</p>
		<ul>
		<li ng-repeat="score in scoreList.scores track by $index">{{score}}</li>
		</ul>
	</div>
</body>
</html>