<!doctype html>
<html ng-app="scoreList">
<head>
<title>server front end</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
<script src="index.js"></script>

</head>
<body>	
	<div ng-controller="scoreListController as scoreList">
		<form>
		<p>game name</p>
		<input id="gameName" type="text" ng-model = "gameName" ng-change="scoreList.gameChanged()"></input>		
		<p>player name</p>
		<input id="playerName" type="text" ng-model = "playerName" ng-change="scoreList.playerNameChanged()"></input>		
		<p>player id</p>
		<input id="playerId" type="text"></input>
		</form>
		<button ng-click="scoreList.loadPlayer()">Load player</button>
		</br></br>

		<button ng-click="scoreList.addScore()">Add score</button>
		<form>
		<input id="newScore" type="text"></input>
		</form>
	
		<button ng-click="scoreList.deleteScores()">Delete scores</button>
		<p>Player highscore {{scoreList.playerScore}}</p>

		<p>Highscores</p>
		<ul>
		<li ng-repeat="scoreEntry in scoreList.highScoreEntries track by $index">{{scoreEntry.playerName}} {{scoreEntry.score}}</li>
		</ul>
	</div>
</body>
</html>